<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CloudServiceTest</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CloudServiceTest.styles.css" asp-append-version="true" />
	<script src="~/microsoft-signalr/signalr.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>	
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CloudServiceTest</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="News">News</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Chat">Chat</a>
						</li>
						@if (User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin">Admin</a>
							</li>
						}

					</ul>
				</div>
			</div>

			<ul class="navbar-nav ml-auto">
				@if (User.Identity.IsAuthenticated)
				{
					<span>Hello,@User.Identity.Name!</span>
					<div class="dropdown">
						<button class="dropbtn">Menu</button>
						<div class="dropdown-content">
							<form method="post" asp-action="Logout" asp-controller="Account">
								<button type="submit">Logout</button>
							</form>
							<form method="post" asp-action="DeleteAccount" asp-controller="Account" id="deleteForm">
								<button type="button" onclick="confirmDelete()">Delete Account</button>
							</form>
						</div>
					</div>
				}
				else
				{
					<span>Welcome, Guest!</span>
					<li>
						<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
					</li>
					<li>
						<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
					</li>
				}
			</ul>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	@* floating chat box *@
	@if (ViewBag.DisableChatBox != true)
	{
		<div id="chatbox" class="chatbox">
			<div class="chat-header">
				<span>Chat with Admin</span>
				<span id="oppositeUserName"></span>
				<button id="closeChat">X</button>
			</div>
			<div class="chat-content" id="chatContent">
				<!-- Messages will appear here -->
			</div>
			<div class="chat-input">
				<input id="messageInput" type="text" placeholder="Type your message here..." />
				<button id="sendButton">Send</button>
			</div>
		</div>
	}
	<script>



		// connection.on("ReceiveMessage", function (user, message) {
		// 	const msg = `${user}: ${message}`;

		// 	const li = document.createElement("li");
		// 	li.textContent = msg;
		// 	chatArea.appendChild(li);
		// });
	</script>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - CloudServiceTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	@await RenderSectionAsync("Scripts", required: false)

	<script>
		function confirmDelete() {
			var result = confirm("Are you sure you want to delete your account?");

			if (result) {
				document.getElementById("deleteForm").submit();
			}
		}
	</script>


	

</body>
</html>
