@model CloudServiceTest.Models.AdminViewModel

<h1>Welcome back, Administrator.</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
            <th>Action2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td><button>Add Role</button></td>
                <td><button>Delete Role</button></td>
            </tr>
        }
    </tbody>
</table>