@model string

<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Welcome to my Azure picture storage site!</h1>

    <br />
    <br />
    <button onclick="location.href='@Url.Action("Upload", "Azure")'">Upload Page</button>
    <br />
    <button onclick="location.href='@Url.Action("PictureList", "Azure")'">Uploaded List</button>
    <br />
    <button onclick="location.href='@Url.Action("CheckConfirmed", "Account")'">CheckConfirmed</button>

</body>
</html>