@model CloudServiceTest.Models.Azure.ThumbnailViewModel 

<h2>All your uploaded pictures</h2>


@foreach (var data in Model.DataList)
{
    <div style="border: 2px solid black;">
        <a href="/Azure/DisplayImage?guid=@data.ResId">
            <img src="@data.ImageSrc" alt="Image from Azure" style="max-width: 200px; margin: 10px;" />
        </a>
        <p>@data.Name</p>
        <p>Tag:@data.Tag</p>
        <a href="/Azure/DownloadAndSave?guid=@data.ResId" class="btn btn-primary">Download File</a>
        <form asp-controller="Azure" asp-action="DeleteFile" method="post">
            <input type="hidden" name="guid" value="@data.ResId" />
            <button type="submit" class="btn btn-primaryred">Delete File</button>
        </form>
    </div>

}

<div style="border: 2px solid blue; position: fixed; bottom: 10px; right: 10px; width: 200px; background-color: white; z-index: 1000;">
    <p>Promote according to your preferences:</p>
    <a href=@Model.BingSearchImage.webSearchUrl target="_blank">
        <img src=@Model.BingSearchImage?.thumbnailUrl alt="Promote Picture" style="width: 100%; height: auto; object-fit: contain;>
    </a>
    <p>@Model.BingSearchImage.name</p>
</div>
