@model CloudServiceTest.Models.Azure.ThumbnailViewModel 

<h2>All your uploaded pictures</h2>

@foreach (var data in Model.DataList)
{
    <div>
        <img src="@data.ImageSrc" alt="Image from Azure" style="max-width: 200px; margin: 10px;" />
        <p>"@data.Name"</p>
        <a href="/Azure/DownloadAndSave?guid=@data.ResId" class="btn btn-primary">Download File</a>
    </div>

}