
	
<canvas id="glCanvas" width="640" height="480"></canvas>
<script src="~/js/indexedDB.js"></script>
<script src="~/js/gl-matrix.js"></script>
<script src="~/js/render.js"></script>
<p>
	@ViewData["test"]
</p>

<script>
	var vertices = JSON.parse(@Json.Serialize(ViewData["test"]));
	var indexedDB = null;

	startInit();

	var lastTime = 0;

	function renderLoop(time)
	{
		const deltaTime = time - lastTime;
		lastTime = time;

		update(deltaTime);

		requestAnimationFrame(renderLoop);
	}

	function update(deltaTime) {
		testRoot(deltaTime);
	}
		


	async function startInit() {
		indexedDB = IndexedDB.getDB("Rendering");

		initVertices(vertices, '@Html.Raw(ViewData["testPicture"])');
		await initWebGL();

		requestAnimationFrame(renderLoop);
	}

</script>