
	
<canvas id="glCanvas" width="640" height="480"></canvas>
<script src="~/js/indexedDB.js"></script>
<script src="~/js/gl-matrix.js"></script>
<script src="~/js/render.js"></script>
<p>
	
</p>

<script>
	const renderingConnection = new signalR.HubConnectionBuilder()
		.withUrl("/renderingHub?pageId=page1")
		.build();

	renderingConnection.start().then(() => {
		console.log("Connected with connectionId:", renderingConnection.connectionId);
	});

	renderingConnection.on("RenderModel", function (message) {
		const data = JSON.parse(message);
		createVertexBuffer(data);
	});

	renderingConnection.on("TextureData", function (message) {
		initVertices(message);
	});

	var indexedDB = null;

	startInit();

	var lastTime = 0;

	function renderLoop(time)
	{
		const deltaTime = time - lastTime;
		lastTime = time;

		update(deltaTime);

		requestAnimationFrame(renderLoop);
	}

	function update(deltaTime) {
		testRoot(deltaTime);
	}
		


	async function startInit() {
		indexedDB = IndexedDB.getDB("Rendering");

		await initWebGL();

		requestAnimationFrame(renderLoop);
	}

</script>